@charset "UTF-8";
/* CSS Document */




html,
body {
	font-family: 'Roboto', sans-serif;

}

.button-group {
  margin-bottom: 20px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

.Heading {
	color: #999999;
	font-weight: bold;
	background-color: #CCC;
	border-right-width: 50px;
	border-left-width: 50px;
	border-right-style: double;
	border-left-style: double;
	border-right-color: #FFF;
	border-left-color: #FFF;
	text-align: center;
	padding-top: 20px;
	border-top-width: 20px;
	border-top-style: double;
	border-top-color: #FFF;
}

.Heading h1 {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 50px;  
	text-align: center;
}


.jumbotron {
  	background-image: url("http://wallpaperswide.com/magic_forest-wallpapers.html");
	background-size: cover;
	text-align: center;
	border-right-width: 50px;
	border-left-width: 50px;
	border-right-style: double;
	border-left-style: double;
	border-right-color: #FFF;
	border-left-color: #FFF;
	padding-right: 50px;
	padding-left: 50px;
	height: 420px;
	border-bottom-width: 20px;
	border-bottom-style: double;
	border-bottom-color: #FFF;
}

.Oculustext {
	width: auto;
	margin-right: 50px;
	margin-left: 50px;
	padding-right: 50px;
	padding-left: 50px;	
}


.container2 ul {
	display: inline-block;
	margin-left:30px;
	text-align: center;
	float:left;
	
} 


.form-username{
	margin-bottom: 50px;
	text-align: center;
	
}

.form-username .box {
	margin-bottom: 25px;
	
}

.Reviews {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 50px;
	font-style: italic;
	text-decoration: underline;
}

.Map {
	margin-left: 320px;
	text-align: center;
	border: thick solid #666;
}

.weather {
	margin-left:200px;
	text-align: center;	
}

.reviews ul{
	margin-top: 10px;
	margin-bottom: 5px;
	
}

